    body{
        background-color: #f5f5f5;
    }
    table{
        border-collapse: collapse;
        width: 100%;
    }
    th, td{
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th{
        background-color: #f2f2f2;
    }
    a{
        color: #000;
        text-decoration: none;
        text-align: center;
    }
    a:hover{
        color: #000;
        text-decoration: none;
    }
    h2{
        text-align: center;
    }

    a{
        text-align: center;
    }
    
    form{
        text-align: center;
    }
    input{
        text-align: center;
    }
    button{
        text-align: center;
    }
    input:hover{
        color: #000;
        text-decoration: none;
    }
    button:hover{
        color: #000;
        text-decoration: none;
    }