<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>Add Student</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h2>Add Student</h2>
	
	<form th:action="@{/save}" th:object="${student}" method="post">
		Name: <input type ="text" th:field="*{name}"/><br><br>
        Email: <input type ="text" th:field="*{email}"/><br><br>
        <button type ="submit">Save</button> 
	</form>

    <a href="/">Back</a>
</body>
</html>